<div class='headers'>
  <header>
    <div class="navbar navbar-expand ">
      <div class=" me-auto"><img src='/public/img/logo.png' class="">
        <a class="navbar-brand">The True Tech</a>
      </div>
      <div class="name">
        <img src='/public<%= staffInfo[0].image %>'>
        <p>
          <%= staffInfo[0].firstName %>
        </p>
      </div>
    </div>
  </header>
</div>