<div class='headers'>
    <header>
      <img src='/public/img/school_logo.gif'>
      <p>Universty of Nigeria Nsukka staff portal</p>
      <div class="name">
        <img src='/public<%= staffInfo[0].image %>'>
        <p><%= staffInfo[0].firstName %></p>

      </div>
    </header>
  </div>