<%- include('layouts/head'); -%>
<body>


  <%- include('layouts/header'); -%>
   
  <div class="container-xxl">
    <nav>
        <ul>
            <li>
                <a href="/dashboard/profile">Profile</a>
            </li>
            <li class="currentL">
                <a href="/dashboard/apply"> Apply For Leave</a>
            </li>
            <li>
                <a href="/dashboard/track"> Track Leave</a>
            </li>
            <li>
                <a href="/dashboard/change-password">Change Password</a>
            </li>
        </ul>
        <div style="text-align: center; margin:60px; ">
            <button type="button" class="btn text-white logout" onclick="window.location.href='/logout';">Log
                Out</button></div>

    </nav>
</div>
  <% if(errors !=null && errors.length> 0){ %>
  <div class="notAllowed">
    <% for (var i=0; i < errors.length; i++) { %>
   <p> <%= errors[i] %> </p>
   
  </div>
  <% } %> <% } %> 
  <% if(allowed !=null && allowed.length> 0){ %>
  <div class="allowed">
 
  
      <% for (var i=0; i < allowed.length; i++) { %>
     <p> <%= allowed[i] %> click <a href= "/dashboard/track">here<a> to track leave.</p>
     
    </div>
    <% } %> <% } %> 
  <div class="apply">
    <h1>Apply for leave here</h1>
    <form action='/dashboard/apply-post' method="post">
      <p>
        Select type of leave
      </p>
      <select name="reason">
        <option>
          Sick leave
        </option>
        <option>Maternity leave</option>
        <option>Paternity leave</option>
        <option>Leave of absence</option>
        <option>Annual leave</option>
      </select>
      <p> <label for="from">From:</label></p>
      <input type="date" data-date-inline-picker="true" id="from" name="leave_from" />

      <p> <label for="to">To:</label></p>

      <input type="date" data-date-inline-picker="true" id="to" name="leave_to" />
      <br>
      <br>
      <input type="submit" value="submit">
    </form>

  </div>
  <script src="/public/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>