<!DOCTYPE html>
<html lang="en">
<%- include('layouts/head'); -%>
<body>

<%- include('layouts/header'); -%>
    <div class="nav-bar">
        <nav>
            <ul>
                <li>
                    <a href="/dashboard/profile">Profile</a>
                </li>
                <li>
                    <a href="/dashboard/apply"> Apply For Leave</a>
                </li>
                <li>
                    <a href="/dashboard/track"> Track Leave</a>
                </li>
                <li>
                    <a href="/dashboard/change-password">Change Password</a>
                </li>
                <li>

                    
                    <a href="/logout"> Log out</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="welcome">
    <h2> Welcome <%= staffInfo[0].firstName %>!</h2></div>
</body>
</html>