<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/public/css/sign.css">
    <link rel="stylesheet" type="text/css" href="/public/css/home.css">

    <title>Home</title>
</head>

<body style="background-image :url(https://cdn.pixabay.com/photo/2021/09/23/19/08/background-6650672_960_720.jpg) ;">
    <div class='headers' >
        <header>
            <div class="navbar navbar-expand ">
                <div class=" me-auto"><img src='/public/img/logo.png' class="">
                    <a class="navbar-brand">The True Tech</a>
                </div>
                <div class="nav-bar">
                    <!-- <nav class="navbar"> -->
                    <ul class="navbar-nav">

                        <li class="nav-item">
                            <a class="nav-link" href="/new">Create Account</a>
                        </li>
                        <li class="nav-item" style="background-color: rgb(38, 5, 65); border: 2px solid white; ">
                            <a href="/" class="nav-link" style="color: rgb(255, 255, 255) ;"> Login </a>
                        </li>
                    </ul>
                    </nav>
                </div>
                <!--  -->
            </div>
        </header>
    </div>
    <div>
        <h1 style="text-align: center; color: white;">Welcome to the staff portal</h1>
    </div>
        <% if(errors !=null && errors.length> 0){ %>

            <% for (var i=0; i < errors.length; i++) { %>
                <div class="alert alert-danger alert-dismissible fade show danger" role="alert">

                <%= errors[i] %>! <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>   
                <% } %>
                

                        <% } %>
       
        

    <section>
    <div class="signinbox">
        <!-- <img src='/public/img/logo.png'> -->
        <p>The True Tech staff portal</p>


        <h2>Login to your account</h2>

        <form method="post" action="/login/auth" class=".form-control-lg ">
            <select name="option">
                <option>Staff</option>
                <option>Supervisor</option>
                <option>Admin</option>
            </select>
            <input type="text" placeholder="Enter your username" name="username">
            <br>
            <input type="password" placeholder="Enter your password" name="password">
            <br>

            <input type="submit" value=Continue>
        </form>
        <p class="mod">Don't have an account click <a href="/new">here</a></p>

    </div>
</section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>

</html>