<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/public/css/sign.css">
    <link rel="stylesheet" type="text/css" href="/public/css/home.css">

    <title>Document</title>
</head>
<body style="background-image :url(/public/img/tamarcus.jpg) ;">
    <div class='headers'>
        <header>
            <img src='/public/img/logo.png'>
            <p>The True Tech</p>
            <div class="nav-bar">
                <nav>
                    <ul>
                        
                        <li>
                            <a href="/new">Create Account</a>
                        </li>
                        <li style="background-color: rgb(5, 65, 5); border: 2px solid white; ">
                            <a href="/" style="color: rgb(255, 255, 255) ;"> Login </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>
    </div>
    <div>
        <h1 style="text-align: center; color: white;">Welcome to the staff portal</h1>
    </div>
    <div class="danger">
        <% if(errors !=null && errors.length> 0){ %>

            <% for (var i=0; i < errors.length; i++) { %>
            <%= errors[i] %>!
            <% } %> <% } %> 
    </div>
    <div class="signinbox"  >  
        <!-- <img src='/public/img/logo.png'> -->
        <p>The True Tech staff portal</p>

        
        <h2>Login to your account</h2>
    
          <form method="post" action="/login/auth">
            <select name="option">
                <option>Staff</option>
                <option>Supervisor</option>
                <option>Admin</option>
            </select>
              <input type="text" placeholder="Enter your username" name="username">
              <br>
              <input type="password" placeholder="Enter your password" name="password">
              <br>
              
              <input type="submit" value=Continue>
          </form>
          <p class="mod">Don't have an account click <a href="/new">here</a></p>

    </div>  

</body>
</html>