<!DOCTYPE html>
<html lang="en">
<%- include('layouts/head'); -%>
    <title>Supervisor</title>

    <body>
        <%- include('layouts/header'); -%>

            <div class="container-xxl">
                <nav>
                    <ul>
                        <li>
                            <a href="/supervisor/profile">Profile</a>
                        </li>
                        <li class="">
                            <a href="/supervisor/pending">Pending</a>
                        </li>
                        <li>
                            <a href="/supervisor/approved"> Approved</a>
                        </li>
                        <li class="currentL">
                            <a href="/supervisor/change-password"> Change password</a>
                        </li>

                    </ul>
                    <div style="text-align: center; margin:60px; ">
                        <button type="button" class="btn text-white logout"
                            onclick="window.location.href='/logout';">Log
                            Out</button>
                    </div>
                </nav>
            </div>
            <section class='section1'>
                <% if(validationErrors !=null && validationErrors.length> 0){ %>
                    <div class="notAllowed">
                        <% for (var i=0; i < validationErrors.length; i++) { %>
                            <p>
                                <%= validationErrors[i] %>
                            </p>

                    </div>
                    <% } %>
                        <% } %>
                            <% if(success !=null && success.length> 0){ %>
                                <div class="allowed">


                                    <% for (var i=0; i < success.length; i++) { %>
                                        <p>
                                            <%= success[i] %>
                                        </p>

                                </div>
                                <% } %>
                                    <% } %>
                                        <div class="apply">
                                            <form method="POST" action="/supervisor/change-password/store">
                                                <h4>Change password </h4>
                                                <p>input current password</p>
                                                <input type="password" name="password">
                                                <p>input new password</p>
                                                <input type="password" name="newPassword">
                                                <p> confirm password </p>
                                                <input type="password" name="Confirmpassword">
                                                <br>
                                                <input type="submit" value='Submit'>

                                            </form>
                                        </div>
            </section>

            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    </body>

</html>