<!DOCTYPE html>
<html lang="en">

<%- include('layouts/head'); -%>

<body>
<%- include('layouts/header'); -%>
  
    <div class="nav-bar">
        <nav>
            <ul>
                <li class="">
                    <a href="/dashboard/profile">Profile</a>
                </li>
                <li>
                    <a href="/dashboard/apply"> Apply For Leave</a>
                </li>
                <li>
                    <a href="/dashboard/track"> Track Leave</a>
                </li>
                <li class="currentL">
                    <a href="/dashboard/change-password">Change Password</a>
                </li>
                <li>


                    <a href="/logout"> Log out</a>
                </li>
            </ul>
        </nav>
    </div>
            <div class="apply">
            <form method="POST" action="/dashboard/change-password/store">
            <h4>Change password </h4>
            <p>input current password</p>
            <input type="password" name="password">
            <p>input new password</p>
            <input type="password" name="newPassword">
            <p> confirm password </p>
            <input type="password" name="Confirmpassword">
            <br>
            <input type="submit" value='Submit'>
                
        </form>
    </div>
</body>
</html>