<!DOCTYPE html>
<html lang="en">
<%- include('layouts/head'); -%>
<body>

    <div class='headers'>
        <header>
          <img src='/public/img/logo.png'>
          <p>The True Tech staff portal</p>
          <div class="name">
            <p>Admin</p>
    
          </div>
        </header>
    </div>
    <div class="nav-bar">
        <nav>
            <ul>
                <li class="dropdown">
                    <a href="#">Accounts</a>
                    <ul class="dropdown-content">
                        <li>
                            <a href="/admin/staff"> Staff</a>
                        </li>
                        <li>
                            <a href="/admin/supervisor">Supervisor</a>
                        </li>
                    </ul>
                </li>
    
                <li class="currentL">
                    <a href="/admin/change-password">Change Password</a>
                </li>
                <li>

                    
                    <a href="/logout"> Log out</a>
                </li>
            </ul>
        </nav>
    </div>

    <% if(validationErrors !=null && validationErrors.length> 0){ %>
      <div class="notAllowed">
        <% for (var i=0; i < validationErrors.length; i++) { %>
       <p> <%= validationErrors[i] %> </p>
       
      </div>
      <% } %> <% } %> 
      <% if(success !=null && success.length> 0){ %>
      <div class="allowed">
     
      
          <% for (var i=0; i < success.length; i++) { %>
         <p> <%= success[i] %></p>
         
        </div>
        <% } %> <% } %> 
            <div class="apply">
            <form method="POST" action="/admin/change-password/store">
            <h4>Change password </h4>
            <p>input current password</p>
            <input type="password" name="password">
            <p>input new password</p>
            <input type="password" name="newPassword">
            <p> confirm password </p>
            <input type="password" name="Confirmpassword">
            <br>
            <input type="submit" value='Submit'>
                
        </form>
    </div>
    </body>
</html>