<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/public/css/Dashboard.css">
    <link rel="stylesheet" type="text/css" href="/public/css/profile.css">

    <title>Document</title>
</head>

<body>

    <div class='headers'>
        <header>
            <img src='/public/img/school_logo.gif'>
            <p>Universty of Nigeria Nsukka staff portal</p>
            <div class="name">
                <img src='/public/img/school_logo.gif'>
                <p>Jennifer</p>

            </div>
        </header>
    </div>
    <div class="nav-bar">
        <nav>
            <ul>
                <li class="currentL">
                    <a href="profile.html">Profile</a>
                </li>
                <li>
                    <a href="apply.html"> Apply For Leave</a>
                </li>
                <li>
                    <a href="track.html"> Track Leave</a>
                </li>
                <li>


                    <a href="/home.html"> Log out</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="profile">
        <form action="/profilePost" method="POST">
            <div class="h">
                <h1 class="heading">Staff Profile</h1>
            </div>
            <div class="line">
                <table>
                    <div>
                        <tr>
                            <td>
                                <label for="fname">First Name</label>
                            </td>
                            <td>
                                <input type="text" id="fname" name="firstName" readonly value="">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="mname">Middle Name</label>
                            </td>
                            <td>
                                <input type="text" id="mname" name="middleName" readonly value="">
                            </td>
                        </tr>
                        <tr>
                            <p>
                                <td>
                                    <label for="text">Surname</label>
                                </td>
                                <td>
                                    <input type="text" id="sname" name="surName" readonly>
                                </td>
                            </p>

                        </tr>
                        <tr>
                            <p>
                                <td>
                                    <label for="email">Email</label>
                                </td>
                                <td>
                                    <input type="email" name="email" id="email" value="" readonly>
                                </td>
                            </p>
                        </tr>

                        <tr>
                            <p>
                                <td>
                                    <label for="date">Date of Birth</label>
                                </td>
                                <td>
                                    <input type="text" name="DOB" id="DOB" value="" readonly>
                                </td>
                            </p>

                        </tr>
                        <tr>

                            <p>
                                <td>
                                    <label for="sex">Sex</label>
                                </td>
                                <td>
                                    <select name="sex" id="sex">
                                        <option>

                                        </option>
                                        <option>
                                            Male
                                        </option>
                                        <option>
                                            Female
                                        </option>
                                    </select>
                                </td>
                            </p>
                        </tr>
                        <tr>
                            <p>
                                <td>
                                    <label for="tel">Phone number</label>
                                </td>
                                <td>
                                    <input type="tel" id="phone number" name="phone" value="" readonly>
                                </td>
                            </p>
                        </tr>
                        <tr>
                            <p>
                                <td>
                                    <label for="origin">State of Origin</label>
                                </td>
                                <td>
                                    <input type="text" name="state">
                                </td>
                            </p>

                        </tr>
                        <tr>
                            <p>
                                <td>
                                    <label for="Local">Local Government of Origin</label>
                                </td>
                                <td>
                                    <input type="text" id="local" name="LGA" value="" readonly>
                                </td>
                            </p>
                        </tr>
                        <tr>
                            <p>
                                <td>
                                    <label for="caddress">Contact Address</label>
                                </td>
                                <td>
                                    <input type="text" id="caddress" name="caddress">
                                </td>
                            </p>

                        </tr>
                        <tr>
                            <p>
                                <td>
                                    <label for="department">Department</label>
                                </td>
                                <td>
                                    <input type="text" id="department" name="department">
                                </td>
                            </p>

                        </tr>
                </table>


            </div>


            <input type="submit" value="Submit">
        </form>
    </div>

</body>

</html>