<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/public/css/sign.css">
    <link rel="stylesheet" type="text/css" href="/public/css/home.css">

    <title>Document</title>
</head>
<body style="background-image :url(https://cdn.pixabay.com/photo/2021/09/23/19/08/background-6650672_960_720.jpg)">
    <div class='headers'>
        <header>
            <img src='/public/img/logo.png'>
            <p>The True Tech</p>
            <div class="nav-bar">
                <nav>
                    <ul>
                        <li style="background-color: rgb(5, 65, 5); border: 2px solid white; ">
                            <a href="/new" style="color: rgb(255, 255, 255) ;"> Create Account</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>
    </div>
 
      <h3 style="margin-left: 100px; margin-top: 100px; color: rgb(255, 255, 255);">Congratulation, Account created successfully. Click <a href='/'>here</a> 
        to return to login page </h3>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    </body>
</html>