<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/public/css/sign.css">
    <link rel="stylesheet" type="text/css" href="/public/css/home.css">

    <title>Document</title>
</head>
<body style="background-image :url(/public/img/tamarcus.jpg)">
    <div class='headers'>
        <header>
            <img src='/public/img/school_logo.gif'>
            <p>Universty of Nigeria Nsukka</p>
            <div class="nav-bar">
                <nav>
                    <ul>
                        <li style="background-color: rgb(5, 65, 5); border: 2px solid white; ">
                            <a href="/new" style="color: rgb(255, 255, 255) ;"> Create Account</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>
    </div>
 
      <h3 style="margin-left: 100px; margin-top: 100px; color: rgb(255, 255, 255);">Congratulation, Account created successfully. Click <a href='/'>here</a> 
        to return to login page </h3>
    </body>
</html>