<!DOCTYPE html>
<html lang="en">
<%- include('layouts/head'); -%>
<title>Supervisor</title>
<body>

    <%- include('layouts/header'); -%>

      <div class="">
        <nav>
            <ul>
                <li class="">
                    <a href="/supervisor/profile">Profile</a>
                </li>
                <li class="">
                    <a href="/supervisor/pending">Pendding</a>
                </li>
                <li>
                    <a href="/supervisor/approved"> Approved</a>
                </li>
                <li>
                    <a href="/change password"> Change password</a>
                </li>
                
    
            </ul>
            <div style="text-align: center; margin:60px; ">
                <button type="button" class="btn text-white logout" onclick="window.location.href='/logout';">Log
                    Out</button></div>
        </nav>
    </div>
<section class='section1'>
    <div class="welcome">
        <h2> Welcome <%= staffInfo[0].firstName %>!</h2></div> <div class="welcome">
    <h2> Welcome <%= staffInfo[0].firstName %>!</h2></div>

    <script src="/public/dist/js/bootstrap.bundle.min.js"></script>

</body>
