body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
font-size: 20px;
font-weight:bolder;
width: 100%;}

.headers{
    height: 100px;
    border-bottom: 2px solid rgb(237, 245, 244);
    background-color:rgb(22, 94, 8)    ;
    padding: 10px;

}
.headers img{
    padding: 0%;
    margin: 0%;
        margin-top: 0%;
    margin-top: -44px;
    width: 101px;
    position: absolute;
    height: 104px;

}

.headers p{
color: rgb(255, 255, 255);
margin-left: 90px;
font-family:'sans-serif';
font-size: 28px;
font-weight:bolder;
}
.headers h3{
    color:rgb(22, 94, 8);
    text-align: center;
}
.headers ul, li{
list-style: none;
display: block;
float: right;
}
.headers li a{
    color:rgb(255, 255, 255);
    text-decoration: none;
    font-family:'Dyuthi';
    font-size: 20px;
}

.headers li:hover{
    background-color: green;
    color:rgb(255, 255, 255);
    border: 2px solid white;
    } 
.headers li a:hover{
background-color: green;
color:rgb(255, 255, 255);
}

.headers li{
    /* border: 2px solid rgb(255, 255, 255); */
    border-radius: 5px;
    padding: 5px;
    margin-left: 10px;
    /* background-color: rgb(255, 255, 255) ; */
}

.headers ul{
    margin-top: -62px;
    margin-right: 100px;

}
.sect{
    background-image: url('/img/fusion-medical-animation-rnr8D3FNUNY-unsplash.jpg');
    height:400px;
    background-size: cover


}
.sect h1{
    display: block;
    color:white;
    font-size: 45px;
    /* background-color: rgb(233, 233, 233); */
    text-align: right;
    margin-top:150px ;
    margin-right:65px ;
}
