body{
    margin: 0;
    padding: 0;
    width: 100%;
    background-image: url('/img/cdc-uN8TV9Pw2ik-unsplash.jpg');
    background-size: cover;
    color:rgb(255, 255, 255);
    font-family:'DejaVu Sans Condensed';
    font-weight:normal;

    /* background-color: rgb(223, 171, 103); */
}
h1{
    color:rgb(9, 1, 19);
    /* font-size: 20px; */

}

.headers img{
width: 100px;
height: 100px;
}
.signinbox{
    width: 320px;
    height: 380px;
    border-radius: 5px;
    background-color: rgba(49, 1, 49, 0.377);
    ;
    /* margin: 100px; */
    margin-top: 5px;
    margin-left: 500px;
    border: 2px solid rgb(9, 1, 19);
    padding: 10px;
}
.signinbox form{
    padding: 10px;
}
.signinbox img{
    width: 50px; 
    height:50px;
/* position:absolute; */
}
.he{
    margin-top: -70px;
    margin-left: 90px;
    color:rgb(9, 1, 19);

/* font-family:'Dyuthi'; */
font-size: 20px;
font-weight:normal;
}
.signinbox h2{
/* text-align: center; */
margin-top: 20px;
margin-bottom: -2px;
margin-left: 10px;
font-size: 15px;
font-weight:normal;


}
.signinbox select{
    width: 97.5%;
    margin-top: 20px;
    padding: 7px;
    }
.signinbox input{
width: 92%;
margin-top: 20px;
padding: 7px;
}
.signinbox input[type='submit']{
    width: 97.2%;
    padding: 8px;
    background-color: rgb(9, 1, 19);
    border: rgb(9, 1, 19)
}
.signinbox p{
font-weight: 500;
font-size: 18px;
}
.mod{
    margin: 0;
    padding: 0;
    margin-left: 10px;
}
.mod a{
    text-align: center;
    color: rgb(36, 3, 63);
    font-weight:normal;

}
.forget{
    margin-right: 15px;
 text-align: right;   
 font-weight:normal;

}
.forget a{
text-decoration: none;
color:rgb(9, 1, 19);
font-weight:normal;

}
.danger{
width: 300px;
color: rgb(255, 10, 10);

margin-left: 550px;
}
.danger a{
    text-align: center;
    color: rgb(184, 7, 7);

}

.register{
    width: 100%;
    border-radius: 5px;
    /* background-color: rgba(5, 49, 1, 0.377); */
    height: 100%;
    /* margin: 100px; */
    /* margin-top: 5px; */
    /* margin-left: 10px; */
    /* border: 2px solid rgb(9, 1, 19); */
    padding: 10px;
    font-size: medium;
}
.register form{
    padding-left: 40px;
}

.register select{
    width: 51%;
    padding: 8px;
    /* height: 15px; */
    background-color: rgb(255, 255, 255);
    border: 1px solid gray;
    border-radius: 2px;
    margin-top:5px ;
    margin-bottom:5px ;
    }
.register input{
width: 50%;
border: 1px solid rgb(52, 4, 65);
padding: 7px;
height: 15px;
margin-top:5px ;
margin-bottom:5px ;
}

.register input[type='submit']{
    width: 35%;
    padding: 8px;
    height: 30px;
    margin-left: 80px;
    color: white;
    background-color: rgb(9, 1, 19);
    border: rgb(9, 1, 19)
}